.top_menu_item{
	list-style: none;
	float: left;
	padding-bottom: 25px;
}

.top_menu_item a{
	color: white;
}

.top_menu_item a:hover{
	color: #175A6C;
}

.top-nav-submenu{
	position: absolute;
	visibility: hidden;
	margin-top: 25px;
	padding: 0;
}

.top-nav-submenu li{
	float: none;
}

.top-nav-submenu li a{
	width: auto;
}

.top-nav-submenu li a:hover{
	background-color: rgba(63,178,209,0.7);
}


.top-my-account .cm-popup-title:hover a{
	color:#777;
}

.top-my-account .cm-popup-title a{
	color:white;
}

#second-top-nav{
	width: 100%;
	min-height: 40px;
	margin-top:5px;
	position: absolute;
}

#second-top-nav-elements{
	margin-top: -7px;
	margin-left: 20px;
}

.top_menu_item:hover{
	color: #175A6C;
}

#second-top-nav-elements a:hover{
	text-decoration: none;
}

.top_menu_item{
	font-family: "Roboto";
	font-size: 15pt;
	padding-right: 15px;
	color: white;
	cursor: pointer;
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 8px;
}

.top-logo .logo-container{
	margin-top: -20px;
	min-height: 70px;
}

.header-solid{
	background: #1e90bd; /* Old browsers */
	background: -moz-linear-gradient(left,  #1e90bd 0%, #3fb2d1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#1e90bd), color-stop(100%,#3fb2d1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #1e90bd 0%,#3fb2d1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #1e90bd 0%,#3fb2d1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #1e90bd 0%,#3fb2d1 100%); /* IE10+ */
	background: linear-gradient(to right,  #1e90bd 0%,#3fb2d1 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e90bd', endColorstr='#3fb2d1',GradientType=1 ); /* IE6-9 */
}

.header-transparent{
	background-color: rgba(0, 104, 133, 0.38);
	background-image: none;
}

.header{
	height: 67px;
}